body {
  font-family: 'Roboto', sans-serif;
}

main {
  padding: 1em;
}

button {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  border-radius: 2px;
  border: transparent;
  padding: .3em 1em;
  background: #0078e7;
  color: white;
}

button.confirm {
  background: red;
}

button:hover {
}

form.standalone {
  display: table;
  margin: 10px;
}

form.standalone li {
  display: block;
  margin-bottom: 0.5em;
}

html, button, input, select, textarea {
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 0.01em;
}

input {
  line-height: normal;
}

form.standalone input[type=password],
form.standalone input[type=email],
form.standalone input[type=url],
form.standalone input[type=date],
form.standalone input[type=month],
form.standalone input[type=time],
form.standalone input[type=datetime],
form.standalone input[type=datetime-local],
form.standalone input[type=week],
form.standalone input[type=tel],
form.standalone input[type=color],
form.standalone input[type=number],
form.standalone input[type=search],
form.standalone input[type=text],
form.standalone select,
form.standalone textarea {
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
}

form.standalone label {
  font-weight: bold;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
}

form.standalone li.buttons {
  margin: 1.5em 0 0 11em;
}

form.standalone input[type=password],
form.standalone input[type=email],
form.standalone input[type=number],
form.standalone input[type=search],
form.standalone input[type=text],
form.standalone textarea {
  width: 16em;
}
