{% extends "_base.html" %}
{% block menu %}
<a href="{{ url_for('transactions') }}">Spending</a>
<a href="{{ url_for('tags') }}">Budget</a>
{% endblock %}
{% block main %}
<h2>Spending Report (since {{ start_date }})</h2>

<table>
<tr>
  <th>Tag</th>
  <th>Spenditure</th>
  <th>Budget</th>
  <th>Variance</th>
</tr>
{% for stat in stats %}
  <tr>
    <td><a href="{{url_for("transactions", tag=(stat['tag'] or '__Empty__'))}}">{{ stat['tag'] or 'No Tag'}}</a></td>
    <td>{{ "$ {:,.2f}".format(stat['total']) }}</td>
    <td>{{ "$ {:,.2f}".format(stat['budget']) }}</td>
    <td>{{ "$ {:,.2f}".format(stat['variance']) }}</td>
  </tr>
{% endfor %}
</table>
{% endblock %}
