{% extends "_base.html" %}
{% block menu %}
  <a href="{{ url_for('index') }}">Report</a>
{% endblock %}
{% block main %}
<style>
  .transaction div {
    display: table-cell;
  }
</style>
<h2>Tags</h2>
<table>
<tr>
  <th>Name</th>
  <th>Budget</th>
  <th>Tag</th>
  <th>Description</th>
</tr>
{% for t in tags %}
<tr>
  <td>{{ t['name'] }}</td>
  <td>{{ "${:,.2f}".format(t['budget_amount'])+' '+t['budget_frequency'].name if t['budget_amount'] else 'Unbudgetted' }}</td>
  <td>{{ t['tag'] }}</td>
  <td>{{ t['description'] }}</td>
  <td>
    <form method="POST">
      <input type="hidden" name="_csrf_token" value="{{csrf_token()}}"/>
      <input type="hidden" name="_method" value="DELETE"/>
      <input type="hidden" name="tag_name" value="{{t['name']}}"/>
      <input type="submit" value="Delete" />
    </form>
  </td>
</tr>
{% endfor %}
</table>
<form method="POST">
  <input type="hidden" name="_csrf_token" value="{{csrf_token()}}"/>
  <ul>
    <label for="name">Name:</label><input type="text" name="name" value=""/>
  </ul>
  <ul>
    <label for="description">Description:</label><textarea name="description"></textarea>
  </ul>
  <ul>
    <label for="name">Budget:</label><input type="text" name="budget_amount" value=""/>
    <label for="name">Frequency:</label>
    <select name="budget_frequency">
      <option value="weekly">weekly</option>
      <option value="fortnightly">fortnightly</option>
      <option value="monthly">monthly</option>
      <option value="quarterly">quarterly</option>
      <option value="biannually">biannually</option>
      <option value="annually">annually</option>
    </select>
  </ul>
  <ul>
    <label for="tag">Tag:</label><input type="text" name="tag" value=""/>
  </ul>
  <input type="submit" value="Create" />
</form>
{% endblock %}
