{% extends "_base.html" %}
{% block main %}
<h2>Spending Report (since {{ start_date }})</h2>

<table class="pure-table">
<thead>
<tr>
  <th>Tag</th>
  <th>Spenditure</th>
  <th>Budget</th>
  <th>Variance</th>
</tr>
</thead>
<tbody>
{% for stat in stats %}
  <tr>
    <td><a href="{{url_for("transactions", tag=(stat['tag'] or '__Empty__'))}}">{{ stat['tag'] or 'No Tag'}}</a></td>
    <td>{{ "$ {:,.2f}".format(stat['total']) }}</td>
    <td>{{ "$ {:,.2f}".format(stat['budget']) }}</td>
    <td>{{ "$ {:,.2f}".format(stat['variance']) }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
